In [58]:
import numpy as np
import pandas as pd
import os
from os import listdir
from os.path import isfile, join

In [59]:
#Get relative path of the CSV File 
#Enumerate therough all the files in the folder and check if the path exists

mypath = os.path.dirname(os.path.realpath('train.csv'))
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]
os.path.exists(mypath)

True

In [61]:
print(onlyfiles[21])

train.csv

In [63]:
#Read Training CSV for house regression
dataset = pd.read_csv(onlyfiles[21])
dataset.shape

(1460, 81)

importing the dataset 
encode categorical data
Backward elimination

In [64]:
#Delete redundant features with over 50% NAN values E.G: porch sizes, pool area, alley, miscallenous features and its value 
unwantedFeaturesList = ["WoodDeckSF","OpenPorchSF","EnclosedPorch","3SsnPorch","ScreenPorch","PoolArea",
                       "PoolQC","Fence","Alley","MiscFeature","MiscVal"]
dataset.drop(unwantedFeaturesList,inplace=True,axis=1)

In [65]:
# Check all the columns fetures whcih has a numerical value type
is_number = np.vectorize(lambda x: np.issubdtype(x, np.number))
is_number(dataset.dtypes)

array([ True,  True, False,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False,  True,  True,
        True,  True, False, False, False, False, False,  True, False,
       False, False, False, False, False, False,  True, False,  True,
        True,  True, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True, False, False,  True, False,  True,  True, False,
       False, False,  True,  True, False, False,  True], dtype=bool)

In [66]:
#Separate and select dataframes by dataTypes 
df_NonNumericalType = dataset.select_dtypes(exclude=[np.number])
df_NumericalType = dataset.select_dtypes(include=[np.number])

#Set type to categorical
df_NonNumericalType[df_NonNumericalType.select_dtypes(['object']).columns] = df_NonNumericalType.select_dtypes(['object']).apply(lambda x: x.astype('category'))
df_NonNumericalType.dtypes

C:\Users\BOBBOO\Anaconda3\lib\site-packages\pandas\core\frame.py:2440: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

MSZoning         category
Street           category
LotShape         category
LandContour      category
Utilities        category
LotConfig        category
LandSlope        category
Neighborhood     category
Condition1       category
Condition2       category
BldgType         category
HouseStyle       category
RoofStyle        category
RoofMatl         category
Exterior1st      category
Exterior2nd      category
MasVnrType       category
ExterQual        category
ExterCond        category
Foundation       category
BsmtQual         category
BsmtCond         category
BsmtExposure     category
BsmtFinType1     category
BsmtFinType2     category
Heating          category
HeatingQC        category
CentralAir       category
Electrical       category
KitchenQual      category
Functional       category
FireplaceQu      category
GarageType       category
GarageFinish     category
GarageQual       category
GarageCond       category
PavedDrive       category
SaleType         category
SaleCondition    category
dtype: object

In [69]:
#replace all the NA values to numpy NAN for float 64 data type
df_NumericalType.replace('NA',np.nan)
#Select Numerical values except the index 
xNumerical = df_NumericalType.values
#drop the SalesPrice column
df_NumericalType.drop(["SalePrice"], inplace=True, axis=1)

C:\Users\BOBBOO\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [70]:
#Handle missing data for numerical values 
from sklearn.preprocessing import Imputer
if df_NumericalType.isnull().values.any() :
    #mean is the deafualt parameter anywyas
    imputer = Imputer(missing_values = 'NaN', strategy='mean', axis=0)
    imputer.fit(xNumerical[:,2:33])
    xNumerical[:,2:33] = imputer.transform(xNumerical[:,2:33])

In [74]:
#Scaling Numerical data
from sklearn.preprocessing import StandardScaler
sc_X= StandardScaler()
NumericalScaledData = sc_X.fit_transform(xNumerical)

dtype('float64')

In [72]:
#Sort by categorical data and encoding it
#Create dummy data for all the categorical columns
cat_features = [key for key in dict(df_NonNumericalType.dtypes) if dict(df_NonNumericalType.dtypes)[key] in ['category']]
df_NonNumericalencoded = pd.get_dummies(df_NonNumericalType, columns=cat_features, drop_first=True)
df_NonNumericalencoded.reset_index(level=0, inplace=True)
df_NumericalType.reset_index(level=0, inplace=True)

In [43]:
#Drop column ID from numericalType
df_NumericalType.drop('Id', axis=1)

,index,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,MoSold,YrSold,SalePrice
0,0,60,65.0,8450,7,5,2003,2003,196.0,706,...,3,1,8,0,2003.0,2,548,2,2008,208500
1,1,20,80.0,9600,6,8,1976,1976,0.0,978,...,3,1,6,1,1976.0,2,460,5,2007,181500
2,2,60,68.0,11250,7,5,2001,2002,162.0,486,...,3,1,6,1,2001.0,2,608,9,2008,223500
3,3,70,60.0,9550,7,5,1915,1970,0.0,216,...,3,1,7,1,1998.0,3,642,2,2006,140000
4,4,60,84.0,14260,8,5,2000,2000,350.0,655,...,4,1,9,1,2000.0,3,836,12,2008,250000
5,5,50,85.0,14115,5,5,1993,1995,0.0,732,...,1,1,5,0,1993.0,2,480,10,2009,143000
6,6,20,75.0,10084,8,5,2004,2005,186.0,1369,...,3,1,7,1,2004.0,2,636,8,2007,307000
7,7,60,NaN,10382,7,6,1973,1973,240.0,859,...,3,1,7,2,1973.0,2,484,11,2009,200000
8,8,50,51.0,6120,7,5,1931,1950,0.0,0,...,2,2,8,2,1931.0,2,468,4,2008,129900
9,9,190,50.0,7420,5,6,1939,1950,0.0,851,...,2,2,5,2,1939.0,1,205,1,2008,118000
10,10,20,70.0,11200,5,5,1965,1965,0.0,906,...,3,1,5,0,1965.0,1,384,2,2008,129500
11,11,60,85.0,11924,9,5,2005,2006,286.0,998,...,4,1,11,2,2005.0,3,736,7,2006,345000
12,12,20,NaN,12968,5,6,1962,1962,0.0,737,...,2,1,4,0,1962.0,1,352,9,2008,144000
13,13,20,91.0,10652,7,5,2006,2007,306.0,0,...,3,1,7,1,2006.0,3,840,8,2007,279500
14,14,20,NaN,10920,6,5,1960,1960,212.0,733,...,2,1,5,1,1960.0,1,352,5,2008,157000
15,15,45,51.0,6120,7,8,1929,2001,0.0,0,...,2,1,5,0,1991.0,2,576,7,2007,132000
16,16,20,NaN,11241,6,7,1970,1970,180.0,578,...,2,1,5,1,1970.0,2,480,3,2010,149000
17,17,90,72.0,10791,4,5,1967,1967,0.0,0,...,2,2,6,0,1967.0,2,516,10,2006,90000
18,18,20,66.0,13695,5,5,2004,2004,0.0,646,...,3,1,6,0,2004.0,2,576,6,2008,159000
19,19,20,70.0,7560,5,6,1958,1965,0.0,504,...,3,1,6,0,1958.0,1,294,5,2009,139000
20,20,60,101.0,14215,8,5,2005,2006,380.0,0,...,4,1,9,1,2005.0,3,853,11,2006,325300
21,21,45,57.0,7449,7,7,1930,1950,0.0,0,...,3,1,6,1,1930.0,1,280,6,2007,139400
22,22,20,75.0,9742,8,5,2002,2002,281.0,0,...,3,1,7,1,2002.0,2,534,9,2008,230000
23,23,120,44.0,4224,5,7,1976,1976,0.0,840,...,3,1,6,1,1976.0,2,572,6,2007,129900
24,24,20,NaN,8246,5,8,1968,2001,0.0,188,...,3,1,6,1,1968.0,1,270,5,2010,154000
25,25,20,110.0,14230,8,5,2007,2007,640.0,0,...,3,1,7,1,2007.0,3,890,7,2009,256300
26,26,20,60.0,7200,5,7,1951,2000,0.0,234,...,3,1,5,0,2005.0,2,576,5,2010,134800
27,27,20,98.0,11478,8,5,2007,2008,200.0,1218,...,3,1,7,1,2008.0,3,772,5,2010,306000
28,28,20,47.0,16321,5,6,1957,1997,0.0,1277,...,2,1,6,2,1957.0,1,319,12,2006,207500
29,29,30,60.0,6324,4,6,1927,1950,0.0,0,...,1,1,4,0,1920.0,1,240,5,2008,68500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430,1430,60,60.0,21930,5,5,2005,2005,0.0,0,...,4,1,7,1,2005.0,2,372,7,2006,192140
1431,1431,120,NaN,4928,6,6,1976,1976,0.0,958,...,2,1,5,0,1976.0,2,440,10,2009,143750
1432,1432,30,60.0,10800,4,6,1927,2007,0.0,0,...,4,1,5,0,1928.0,1,216,8,2007,64500
1433,1433,60,93.0,10261,6,5,2000,2000,318.0,0,...,3,1,8,1,2000.0,2,451,5,2008,186500
1434,1434,20,80.0,17400,5,5,1977,1977,0.0,936,...,3,1,5,1,1977.0,2,484,5,2006,160000
1435,1435,20,80.0,8400,6,9,1962,2005,237.0,0,...,3,1,7,1,1962.0,2,462,7,2008,174000
1436,1436,20,60.0,9000,4,6,1971,1971,0.0,616,...,3,1,5,0,1974.0,2,528,5,2007,120500
1437,1437,20,96.0,12444,8,5,2008,2008,426.0,1336,...,2,1,7,1,2008.0,3,774,11,2008,394617
1438,1438,20,90.0,7407,6,7,1957,1996,0.0,600,...,2,1,6,0,1957.0,2,923,4,2010,149700
1439,1439,60,80.0,11584,7,6,1979,1979,96.0,315,...,3,1,6,1,1979.0,2,550,11,2007,197000
1440,1440,70,79.0,11526,6,7,1922,1994,0.0,0,...,3,1,11,1,1993.0,2,672,9,2008,191000
1441,1441,120,NaN,4426,6,5,2004,2004,147.0,697,...,1,1,3,1,2004.0,2,420,5,2008,149300
1442,1442,60,85.0,11003,10,5,2008,2008,160.0,765,...,3,1,10,1,2008.0,3,812,4,2009,310000
1443,1443,30,NaN,8854,6,6,1916,1950,0.0,0,...,2,1,4,1,1916.0,1,192,5,2009,121000
1444,1444,20,63.0,8500,7,5,2004,2004,106.0,0,...,3,1,7,0,2004.0,2,626,11,2007,179600
1445,1445,85,70.0,8400,6,5,1966,1966,0.0,187,...,3,1,6,0,1990.0,1,240,5,2007,129000
1446,1446,20,NaN,26142,5,7,1962,1962,189.0,593,...,3,1,6,0,1962.0,1,312,4,2010,157900
1447,1447,60,80.0,10000,8,5,1995,1996,438.0,1079,...,3,1,8,1,1995.0,2,556,12,2007,240000
1448,1448,50,70.0,11767,4,7,1910,2000,0.0,0,...,2,1,6,0,1950.0,1,384,5,2007,112000
1449,1449,180,21.0,1533,5,7,1970,1970,0.0,553,...,1,1,3,0,NaN,0,0,8,2006,92000
1450,1450,90,60.0,9000,5,5,1974,1974,0.0,0,...,4,2,8,0,NaN,0,0,9,2009,136000
1451,1451,20,78.0,9262,8,5,2008,2009,194.0,0,...,3,1,7,1,2008.0,3,840,5,2009,287090
1452,1452,180,35.0,3675,5,5,2005,2005,80.0,547,...,2,1,5,0,2005.0,2,525,5,2006,145000
1453,1453,20,90.0,17217,5,5,2006,2006,0.0,0,...,3,1,6,0,NaN,0,0,7,2006,84500
1454,1454,20,62.0,7500,7,5,2004,2005,0.0,410,...,2,1,6,0,2004.0,2,400,10,2009,185000
1455,1455,60,62.0,7917,6,5,1999,2000,0.0,0,...,3,1,7,1,1999.0,2,460,8,2007,175000
1456,1456,20,85.0,13175,6,6,1978,1988,119.0,790,...,3,1,7,2,1978.0,2,500,2,2010,210000
1457,1457,70,66.0,9042,7,9,1941,2006,0.0,275,...,4,1,9,2,1941.0,1,252,5,2010,266500
1458,1458,20,68.0,9717,5,6,1950,1996,0.0,49,...,2,1,5,0,1950.0,1,240,4,2010,142125
1459,1459,20,75.0,9937,5,6,1965,1965,0.0,830,...,3,1,6,0,1965.0,1,276,6,2008,147500

In [84]:
df_NumericalScaled = pd.DataFrame(NumericalScaledData)
df_NumericalScaled.columns = df_NumericalType.columns
df_AllTypes = pd.concat([df_NumericalScaled, df_NonNumericalencoded], axis=1)

In [85]:
df_AllTypes.columns

Index(['index', 'Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea',
       ...
       'SaleType_ConLI', 'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth',
       'SaleType_WD', 'SaleCondition_AdjLand', 'SaleCondition_Alloca',
       'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=232)

In [120]:
#x = dataset.iloc[:,:-1].values
#y = dataset.iloc[:,80].values